* {
  margin: 0;
  padding: 0;
}

.gallery-container {
  width: fit-content;
  margin: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  gap: 1%;
}


.gallery .image {
  width: 99%;
  margin-top: .5%;
}

.image img {
  width: 100%;
}
    
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 600px) {
  .gallery .image{
    width: 49%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 800px) {
  .gallery .image {
    width: 32%;
  }
}