.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery.single-column .column {
    flex: 100%;
    max-width: 100%;
  }

.gallery.double-column .column{
  flex: 50%;
  max-width: 50%;
}

.gallery.quarter-column .column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.image {
  margin: 0 4px;
}
